.col-md-6
	%h2.pull-left.index= picture_counter + 1
	.pull-left= image_tag picture.image, :class => 'img-thumbnail top-ten-image'
	.pull-left
		.pull-left{:class => 'likes-' + picture.id.to_s}
			= picture.score.to_s + ' Likes'
		%br/
		= link_to 'Like', score_picture_path(picture), :class => 'btn btn-primary score', remote: true